exportPattern("^[[:alpha:]]+")
useDynLib(UTILS)
importFrom(Rcpp, evalCpp)
import(RcppArmadillo)
import(universalmotif)
importFrom("graphics", "legend", "par", "points")
importFrom("methods", "show")
importFrom("utils", "read.table", "write.table")
import(Biostrings)
import(JASPAR2022)
import(JASPAR2020)
import(TFBSTools)
importFrom(extraDistr, rbern)
importFrom(stats, runif)